@font-face {
    font-family: 'PTSerifRegular';
    src: url('/library/fonts/PTF55F-webfont.eot#') format('embedded-opentype'),
         url('/library/fonts/PTF55F-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
;
}
@font-face {
    font-family: 'YanoneKaffeesatzRegular';
    src: url('/library/fonts/YanoneKaffeesatz-Regular-webfont.eot#') format('embedded-opentype'),
         url('/library/fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'),
         url('/library/fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'),
         url('/library/fonts/YanoneKaffeesatz-Regular-webfont.svg#webfonthKXnaAjv') format('svg');
    font-weight: normal;
    font-style: normal;
;
}

@font-face {
    font-family: 'YanoneKaffeesatzLight';
    src: url('/library/fonts/YanoneKaffeesatz-Light-webfont.eot#') format('embedded-opentype'),
         url('/library/fonts/YanoneKaffeesatz-Light-webfont.woff') format('woff'),
         url('/library/fonts/YanoneKaffeesatz-Light-webfont.ttf') format('truetype'),
         url('/library/fonts/YanoneKaffeesatz-Light-webfont.svg#webfont6SmZJ6dM') format('svg');
    font-weight: normal;
    font-style: normal;
;
}


body {
	font: 14px 'Tahoma',Verdana;
}
hr {
	border-style: solid;
	border-width: thin;
	margin: 5px auto;
	width: 95%;
	
}
#container {
	max-width: 1200px;
	min-width: 800px;
	margin: 0 auto;
	background: url('/library/images/moswall.png') repeat ;

}
h1 {
	font-size: 34px;
	font-family: YanoneKaffeesatzRegular, sans-serif;

}
h2 {
	font-size: 18px;
}
#mainbody h2 {
	font-family: YanoneKaffeesatzRegular, sans-serif;
}
h3 {
	font-size: 16px;
	font-family: YanoneKaffeesatzRegular, sans-serif;
}
header {
	background-color: #FFF;
}
#tagline {
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
	background-color: #FFF;
	-webkit-box-shadow:0px 10px 8px #999;
	-moz-box-shadow:0px 10px 8px #999;
	box-shadow:0px 10px 8px #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
footer {
	display: block;
	height: 75px;
	background-color: #DDD;
	padding-top: 15px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
footer p{
	margin: 10px;
}
#titles {
	display: block;
	height: 154px;
	background: #FFF url(/library/images/header_wide.jpg) no-repeat center top;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
#welcome {
	width: 40%;
	padding-left: 10px;

	display: block;
	float: left;
	background-color: #FFF;
}
#headerbuttons {
	width: 40%;
	float: right;
	text-align: right;
	background-color: #FFF;
	padding-right: 10px;
}
#welcome h2 {
	font-family: YanoneKaffeesatzRegular, sans-serif;
	font-size: large;
	font-weight: normal;
}
#mainbody {
	padding: 10px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;

}
.rightalign {
	text-align: right;
}
.smallheading {
	font-weight: bold;
}
legend {
	font-family: YanoneKaffeesatzLight, sans-serif;
	padding: 0px 10px;
	font-size: 18px;
}
.required {
	font-family: PTSerif, serif;
	font-size: 20px;
	display:inline;
	color: #F00;
	margin-left: 10px;
}
.required-small
{
	font-family: PTSerif, serif;
	font-size: 18px;
	display:inline;
	color: #F00;
	margin-left: 10px;
}

#searchbar {
	background-color: #f2f2f2;
	border-top: 1px solid #333;
	border-bottom: 2px solid #333;
	padding: 5px 0px 10px 5px;
	margin-bottom: 5px;
	background-image: url(/library/images/admin/search.png);
	background-position: right;
	background-repeat: no-repeat;
}
#searchbar h2 {
	color: #17415f;
}
/*DATA TABLES */
#properties {
	margin-left: 5px;
}
.datatable thead {
	border-bottom: 1px solid #666;
}
th {
	text-align: left;
}
.datatable td {
	padding: 5px 0;
}
.datatable tbody tr {
	background-color: #FFF;
}
.datatable tbody tr.alt {
	background-color: #bce7f3;
}
.datatable a:link, .datatable a:visited {
	text-decoration: none;
	color:blue;
}
.datatable a:hover, .datatable a:active {
	color: red;
}
/*LAYOUT */
.left {
	width: 50%;
	float: left;
	display: block;	
}
.right {
	width: 50%;
	float: right;
	display: block;
}
.col66 {
	width: 66%;
	float: left;
	display: block;
}
.col33 {
	width: 33%;
	float: left;
	display: block;
}
div#notes {
	display: block;
	width: 40%;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	float:left;
}
div#buttons {
	display: block;
	width: 100%;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	float:right;
}

/* FORMS */
label {
	padding-top: 5px;
	display: block;
	float: left;
	width: 125px;
	text-align: right;
	margin-right: 10px;
	cursor: pointer;
}
input, textarea, select {
	padding: 3px;
	border-color: #bdbdbd;
	border-style: solid;
	border-width: 1px;
	font: 14px 'Tahoma',Verdana;
	color: #717171;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
}
.fixedvalue {
	font: 14px 'Tahoma';
	color: #717171;
	padding: 3px;
	display: block;
	float: left;	
}
.checklabel {
	display: block;
	width: 350px;
	text-align: left;
}
.reportinfo .checklabel {
	width: 80%;
}
input#keysrequired, input#stagedev, input#gst,input#gtpsfp, input#interalinspect, input#electronic, input#sendthrough, input#noplans, input#usefiled, input#meetonsite , input#buildingmngr {
	float: left;
	margin-top: 7px;
	margin-right: 7px;
}
form div {
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 3px;
}
.optiongrp {
	float: left;
	width: 200px;
	border: 1px solid #ccc;
	background-color: #FFF;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 2px 2px;
}
.optiongrpwide {
	float: left;
	width: 85%;
}
.optiongrp input, .optiongrpwide input{
	margin-top: 9px;
}
fieldset {
	border: 1px solid #333;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0px;
}
#planlist {
	margin: 10px;
}
.reportinfo label {
	width: 350px;
}
.reportinfo .col66 label {
	width: 300px;
}
.reportinfo .col33 label {
	width: 125px;
}
.reportinfo .col66 input {
	margin-top: 5px;
}
.reportinfo .col33 .checklabel, .reportinfo .col66 .checklabel {
	width: 80%;
	text-align: left;
}
.reportinfo .paragraphlabel {
	width: 100%;
	text-align: left;
	margin-bottom: 5px;
}
.uploadlabel {
	width: 100%;
	margin-bottom: 6px;
	text-align: left;
}

/*REPORT SCREEN */
a.reportbutton {
	width: 200px;
	margin: 10px;
	height: 80px;
	display: block;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	text-align: center;
	padding-top: 60px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	background-color: #FFF;
}
a.reportbutton:hover {
	background-color: #d6d8bc;
}
a.reportbutton.marked {
	background-color: #33CC33;
}
#notes .definition {
	display: block;
	float: left;
	margin-left: 5px;
	font-style: italic;
	color: #666;
}
#notes .required {
	font-family: PTSerif, serif;
	font-size: 28px;
	display: block;
	float: left;
	color: #F00;
}

.specialnote {
	font-style: italic;
	color: #F00;
	font-size: 12px;
}
#currentplans span {
	display: block;
	width: 250px;
	float: left;
}
.reportinfo label.optiongrplabel {
	display: block;
	width: 150px;
}
.optiongrplabelwide {
	display: block;
	width: 90%;
	text-align: left;
}
.indented {
	margin-left: 200px;
	font-weight: bold;
	margin-bottom: 5px;
}
#pop-up {
	display: none;
}

#questionlist li a, #reportlist li a, #reportlistadmin li a {
	padding: 3px 0;
	display: block;
	text-decoration: none;
	color: blue;
}
#questionlist li a:hover, #reportlist li a:hover, #reportlistadmin li a:hover {
	color: #C00;
	padding-bottom: 2px;
	border-bottom: 1px solid #C00;
	background-color: #e3e3e3;
}
.warning {
	border: 1px solid #C00;
	display: block;
	margin-left: 50px;
	width: 80%;
	padding: 10px;
	color: #C00;
	background-color: #ffe5e1;
}
div#dependsifbox {
	float: left;
	width:75%;
}
.dataerror {
	border: 1px solid #C00;
	background-color: #ffe5e1;
	color: #C00;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 2px;
	padding: 5px;	
	padding-left: 30px;
	background-image: url('/library/images/admin/warning.png');
	background-position: 5px center;
	background-repeat: no-repeat;	
}
.icon {
	margin-right: 10px;
	vertical-align:bottom;
}
#message {
	border: 1px solid #066319;
	background-color: #e5ffe9;
	color: #066319;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 2px;
	padding: 5px;	
	padding-left: 30px;
	background-image: url('/library/images/admin/check.png');
	background-position: 5px center;
	background-repeat: no-repeat;	
}


#filesize {
	margin-left: 20px;
}
#reportlistadmin{
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;

}
.centred {
	text-align: center;
}

#confirmtable td, #confirmtable th {
	border-right-color: white;
	border-right-style: solid;
	padding: 6px;
}
#confirmtable tr {
	background-color: #FFF;
}
#confirmtable tr.alt th, #confirmtable tr.alt td{
	border-bottom-color: #b3d5e4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: #c8edff;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; height: 1.5em; }
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }


.datenote {
	margin-top: 13px;
	font-size: 13px;
	color: #C33;
	display: block;
}

#commentForm { width: 500px; }
#commentForm label { width: 250px; }
#commentForm label.error, #commentForm input.submit { margin-left: 253px; }
#signupForm { width: 670px; }
#signupForm label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}
#newsletter_topics label.error {
	display: none;
	margin-left: 103px;
}
label.checkboxlabel {
	width: 300px;
}

#confirmtable th {
	font-weight: bold;
}
#confirmtable th.heading {
	color: #C00;
	font-size: 18px;
}
#requesttype {
	font-size: 18px;
	width: 80%;
	margin: 0 10% 15px;
	border: 1px solid #999;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
#requesttype label {
	width: 150px;
	text-align: right;
	float: left;
}
#requesttype label.wide {
	width: 250px;
}
#requesttype input {
	float: left;
	margin-right: 50px;
	margin-top: 10px;
}
#buttons button {
	margin: 0px 5px;
}
#buttons .notice {
	width: 50%;
	float: left;
	text-align: center;
	padding: 5px;
	color: #c00;
	border: 1px solid #C00;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
.message {
	border: 1px solid green;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #e7ffb5;
	color: green;	
}
#infomessage {
	display: block;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
#infomessage p {
	margin-bottom: 5px;
}
#infomessage a {
	color: blue;
	text-decoration: none;
}
#infomessage a:hover {
	color: red;
	text-decoration: underline;
}
.bldgblock {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}
.bldgdetails {
	float: left;
	width: 70%;
}
.bldgbtns {
	float: left;
	width: 30%;
}
#createbtn {
	margin-top: 10px;
}