.overlay { background-color:#000; opacity: 0.5; filter: alpha(opacity=50); position: fixed; width:100%; height:100%; left:0; top:0; z-index:10000; }
.customer-access { width: 760px; position: absolute; left: 50%; margin-left: -380px; top:10%; border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; z-index: 10001; box-shadow: 0 0 10px #000;-moz-box-shadow: 0 0 10px #000;-webkit-box-shadow: 0 0 10px #000;}
.access-form { width:100%; float:left;}
.access-form > div,
.access-form + .bottom { width:680px; float:left; padding:40px;}
.access-form { background: url(/library/images/bg-container-md.png) repeat-y center top; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px; }
.access-form .half { width: 300px;}
.access-form .half + .half { margin-left: 20px;}
.access-form h2 { font-size: 18px; line-height:1em; margin-bottom:20px;}
.access-form h2 span, .page-title h1 span { color:#068499; text-decoration: none;}
.access-form li { margin-bottom: 15px; }
.access-form li .link-find-password { font-size:12px; display: inline-block; margin-top:5px;}
.access-form label { font-size:14px; font-weight:bold; padding-bottom:5px; display: block;}

.access-form + .bottom { background: url(/library/images/bg-footer.jpg) repeat-x center top; text-align:center;border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px; padding-bottom:20px;}
.access-form + .bottom .legality { color:#666; padding-top:15px;}
.access-form + .bottom .legality a { color:#f7dfa5;}

.social-access { padding-bottom: 40px; text-shadow: 0 1px 0 #333; color:#fff;}
.social-access h2 { font-size:20px; line-height:1em; }
.social-access h3 { font-size: 13px; }
.social-access p { margin-top: 15px;}
.social-access p a + a { margin-left: 10px; }

.access-form .button { font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; text-transform:uppercase; padding: 3px 5px; margin:0; cursor:pointer;}
#findpw-form { display: none;}
.close-the-window { width:32px; height:32px; position:absolute; top: 10%; left:50%; margin: -16px 0 0 364px; cursor:pointer; z-index:10002;}
.reset-field { display: none; }
.error { display: none; color: red; }
.invalid { display: none; color: red; }

.half { width: 49%; float:left;}
.half + .half { margin-left: 2%;}

#pop-up h3 {
	font-size: 18px;
	color: #686945;
	font-family: Helvetica;
	margin-bottom: 5px;
	border-bottom: 1px solid #686945;
}
#pop-up p {
	margin-bottom: 5px;
}
