.awesome, .awesome:visited {
	background: #222 url(/library/images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	border: none;
}

.awesome:hover { 
	background-color: #111; color: #fff; 
}

.awesome:active {
	top: 1px;
}

.small.awesome, .small.awesome:visited { 
	font-size: 11px; padding: ;
}

.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited { 
	font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
}

.large.awesome, .large.awesome:visited { 
	font-size: 14px; padding: 8px 14px 9px; 
}

.xlarge.awesome, .xlarge.awesome:visited { 
	font-size: 18px; padding: 12px 18px 11px; 
}

.xxlarge.awesome, .xxlarge.awesome:visited { 
	font-size: 28px; padding: 18px 24px 18px; 
}
	
.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }

.dkgreen.awesome, .dkgreen.awesome:visited	{ background-color: #007500; }
.dkgreen.awesome:hover						{ background-color: #005003; }

.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }

.dkblue.awesome, .dkblue.awesome:visited	{ background-color: #005ea6; }
.dkblue.awesome:hover						{ background-color: #004477; }

.red.awesome, .red.awesome:visited			{ background-color: #d20000; }
.red.awesome:hover							{ background-color: #910101; }

.magenta.awesome, .magenta.awesome:visited	{ background-color: #a9014b; }
.magenta.awesome:hover						{ background-color: #630030; }

.orange.awesome, .orange.awesome:visited	{ background-color: #ff5c00; }
.orange.awesome:hover						{ background-color: #d45500; }

.yellow.awesome, .yellow.awesome:visited	{ background-color: #ffb515; }
.yellow.awesome:hover						{ background-color: #fc9200; }

.silver.awesome, .silver.awesome:visited	{ background-color: #cccccc; }
.silver.awesome:hover						{ background-color: #999999; }
.silver, .silver:visited 					{ color: #333333;}

.awesome img {
	vertical-align: middle;
}

.headerbutton, .headerbutton:visited {
	font-family: Graublau;
	display: block;
	float: left;
	height: 35px;
	font-size: 15px; 
	padding: 15px 20px 0px 60px; 
	margin: 0;
	color: #444; 
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(220,220,220,0.5);
	cursor: pointer;
	border-left: 1px solid #555;
	border-right: 1px solid #AAA;
}
.headerbutton#home {
	background: url('/library/images/admin/home_gs.png') 5px center no-repeat;
	padding: 15px 20px 0px 35px; 
}
.headerbutton#clients {
	background: url('/library/images/admin/clients_gs.png') 5px center no-repeat;
}
.headerbutton#reports {
	background: url('/library/images/admin/reports_gs.png') 5px center no-repeat;
}
.headerbutton#config {
	background: url('/library/images/admin/config_gs.png') 5px center no-repeat;
}
.headerbutton#admin {
	background: url('/library/images/admin/admin_gs.png') 5px center no-repeat;
}
.headerbutton#home:hover, body.home .headerbutton#home {
	background-image: url('/library/images/admin/home.png');
}
.headerbutton#clients:hover, body.clients .headerbutton#clients {
	background-image: url('/library/images/admin/clients.png');
	color: #DDD;
	text-shadow: 0 1px 0px rgba(0,0,0,0.5);
}
.headerbutton#reports:hover, body.reports .headerbutton#reports {
	background-image: url('/library/images/admin/reports.png');
	color: #DDD;
	text-shadow: 0 1px 0px rgba(0,0,0,0.5);
}
.headerbutton#config:hover, body.config .headerbutton#config {
	background-image: url('/library/images/admin/config.png');
	color: #DDD;
	text-shadow: 0 1px 0px rgba(0,0,0,0.5);
}
.headerbutton#admin:hover, body.admin .headerbutton#admin {
	background-image: url('/library/images/admin/admin.png');
	color: #DDD;
	text-shadow: 0 1px 0px rgba(0,0,0,0.5);
}
.logoutbutton, .logoutbutton:visited {
	font-family: Graublau;
	float: right;
	display: block;
	font-size: 15px; 
	padding: 10px 20px 10px 20px; 
	margin-top: -10px;
	color: #444; 
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(220,220,220,0.5);
	cursor: pointer;
	border: 1px solid #555;
	border-radius:4px;
	-moz-border-radius: 4px;
	box-shadow:0px 0px 8px #222222; 
}
.logoutbutton:hover {
	background:-webkit-gradient(linear, 0% 0%, 0% 71%, from(#777777), to(#666666));
	background:-moz-linear-gradient(0% 71% 90deg,#666666, #777777);
	color: #FFF;
	text-shadow: 0px 1px 0px rgba(20,20,20,0.5);	
}

.actionbtn {
	background:-webkit-gradient(linear, 0% 0%, 0% 71%, from(#777777), to(#666666));
	background:-moz-linear-gradient(0% 71% 90deg,#666666, #777777);
	height: 80px;
	display: block;
	border-radius:10px;
	-moz-border-radius: 10px;
	margin-bottom: 15px;
	-moz-box-shadow:0px 2px 8px rgba(0,0,0,0.5); 
	-webkit-box-shadow:0px 2px 8px rgba(0,0,0,0.5); 
	border: none;
	font-family: Graublau;
	text-shadow: 0px 1px 0px rgba(220,220,220,0.5);	
	font-size: 22px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}
