@font-face {
    font-family: 'AngelinaRegular';
    src: url('/library/fonts/angelina-webfont.eot?') format('eot'),
         url('/library/fonts/angelina-webfont.woff') format('woff'),
         url('/library/fonts/angelina-webfont.ttf') format('truetype'),
         url('/library/fonts/angelina-webfont.svg#webfontGA0dUAeV') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'FolksRegular';
	src: url('/library/fonts/Folks-Normal-webfont.eot');
	src: local('☺'), 
		url('/library/fonts/Folks-Normal-webfont.woff') format('woff'), 
		url('/library/fonts/Folks-Normal-webfont.ttf') format('truetype'), 
		url('/library/fonts/Folks-Normal-webfont.svg#webfont0WAsRMDu') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Myndraine';
    src: url('/library/fonts/Myndraine-webfont.eot?') format('eot'),
         url('/library/fonts/Myndraine-webfont.woff') format('woff'),
         url('/library/fonts/Myndraine-webfont.ttf') format('truetype'),
         url('/library/fonts/Myndraine-webfont.svg#webfontkZQPifMd') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'QlassikMedium';
	src: url('/library/fonts/Qlassik_TB-webfont.eot');
	src: local('☺'), 
		url('/library/fonts/Qlassik_TB-webfont.woff') format('woff'), 
		url('/library/fonts/Qlassik_TB-webfont.ttf') format('truetype'), 
		url('/library/fonts/Qlassik_TB-webfont.svg#webfontdLeQUlTY') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'YanoneKaffeesatzRegular';
	src: url('/library/fonts/YanoneKaffeesatz-Regular-webfont.eot');
	src: local('☺'), 
		url('/library/fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), 
		url('/library/fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), 
		url('/library/fonts/YanoneKaffeesatz-Regular-webfont.svg#webfonthKXnaAjv') format('svg');
	font-weight: normal;
	font-style: normal;
}
