body {
	font: 18px 'Tahoma',Verdana;
}
#login {
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 160px;
	background-color: #e2e2e2;
	background-repeat: no-repeat;
	background-position: -250px top;
	background-image: url(/library/images/header_wide.jpg);
	width: 900px;
	min-height: 130px;
	display: block;
	margin: 250px auto;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow:0px 0px 20px #333333;
	-moz-box-shadow:0px 0px 20px #333333;
	box-shadow:0px 0px 20px #333333;
}
#login div {
	margin-bottom: 10px;
}
label {
	padding-top: 5px;
	display: block;
	float: left;
	width: 125px;
}
input {
	padding: 5px;
	border-color: #bdbdbd;
	border-style: solid;
	border-width: 1px;
	font: 18px 'Tahoma',Verdana;
	color: #717171;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
}
div#errormsg {
	width: 50%;
	float: right;
	font-size: 16px;
	color: #E33;
}
a {
	font-size: 12px;
	margin-left: 30px;
	text-decoration: none;
}
a:hover {
	color: #C66;
	text-decoration: underline;
}
div#login p {
	font-size: 16px;
}
div.error{
	border: 1px solid #C00;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	color: #C00;	
}