#container {
	background-image: none;
}
.container_12 {
	width: 100%;
}
nav, #portal, #toolbarbuttons, #sitelinks, footer {
	display: none;
}
#footer-print {
	display: block;
}
header.print {
	display: block;
}
header.screen {
	display: none;
}
#main {
	padding-bottom: 20px;
	overflow: visible;
	width: 100%;
}
footer {
	height: 50px;
	margin: 0 10px;
	width: auto;
	color: #000;
	padding: 0 10px;
	text-align: center;
}