html, body {height: 100%;}

#container {
	background-image: url(/library/images/watermark.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 100%;
	
}
body {
	background-color: #080a19;
	background-image: url(/library/images/bg.png);
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.popup {
	background-image: none;
	background-color: #FFF;
}
#main {
	overflow:auto;
	padding-bottom: 85px;  /* must be same height as the footer */
}
footer {
	position: relative;
	height: 75px;
	clear:both;
	margin: 0 auto;
	margin-top: -85px; /* negative value of footer height */
	width: 940px;
	color: #FFF;
	background-color: #004b9f;
	background: -webkit-gradient(linear, 0% 0%, 0% 30%, from(#003673), to(#004b9f));
	background: -moz-linear-gradient(19% 30% 90deg,#004b9f, #003673);
	padding: 0 10px;
	text-align: center;
} 
#footer-print {
	display: none;
}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
header.print {
	display: none;
}

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;	
	font-size: 14px;
}
.container_12 {
	background: #FFF;
}

#sidebar h3 {
	color: #0087c1;
	margin-bottom: 5px;
}
#sidebar .testimonial p {
	margin-bottom: 5px;
}
#sidebar .testimonial .client {
	color: #0087c1;
	font-size: 16px;
	font-style: italic;
	text-align: right;
	padding-bottom: 10px;
	border-bottom: 1px solid #0087c1;
	margin-bottom:10px;
	font-family: AngelinaRegular;
}

#portal {
	border-color: #004b9f;
	border-width: 1px;
	border-style: solid;
	margin-top: 100px;
	font-size: 80%;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #d9edf9;
}
#portal h3 {
	color: #004b9f;
	text-align: center;
	font-size: 16px;
	margin-bottom: 10px;
}
#portal h4 {
	text-align: center;
	padding: 3px;
	border: 1px solid #97ca20;
	color: #97ca20;
	background-color: #FFF;
}
#portal label {
	color: #666;
}
#portal div {
	margin-bottom: 5px;
}
#portal .buttons {
	margin-top: 15px;
	text-align: center;
}
#main h1 {
	font-size: 24px;
	color: #004b9f;
	margin-bottom: 10px;
	font-family: QlassikMedium;
}
#main p {
	margin-bottom: 10px;
}
p.list {
	background: url(/library/images/key_check.png) no-repeat left 0px;
	padding-left: 25px;
}
p.list .point {
	font-weight: bold;
	color: #0087c1;
}
.bodyimage {
	margin: 5px 10px 10px;
	padding: 6px;
	border: 1px solid #666;
	-moz-box-shadow:0px 8px 8px #666;
	-webkit-box-shadow:0px 8px 8px #666;
	box-shadow:0px 8px 8px #666;
}
.right {
	float: right;
}

#sitelinks {
	display: block;
	text-align: center;
	height: 20px;
	margin: 10px auto;
}
#sitelinks a {
	padding: 0 6px;
	border-right: 1px solid #FFF;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
}
#sitelinks a:hover {
	text-decoration: underline;
	color: #00b3ff;
}
#sitelinks a:last-child {
	border-right: none;
}

nav ul {
	list-style: none;
}
nav li a {
	color: white;
	display: block;
	padding: 5px;
	text-decoration: none;
	background: #0087c1 url(/library/images/alert-overlay.png) repeat-x; 
	border-top: 1px solid #d0e0f3;
}
nav li a:hover {
	background-color: #004b9f;
}
ul.listing{
	list-style-image: url(/library/images/spot.png); 
	margin-left: 30px;
}
ul.listing li {
	margin-bottom: 5px;
}

ul.reports{
	list-style-image: url(/library/images/report.png); 
	margin-left: 30px;
}
ul.reports li {
	margin-bottom: 5px;
}
ul.reports a {
	color: #0087c1;
	text-decoration: none;
}
ul.reports a:hover {
	color: #97ca20;
}
ul.links li{
	background: url(/library/images/globe.png) no-repeat left 10px;
	padding: 10px 0 10px 40px;
	border-bottom: 1px solid #0087c1;
}
ul.links li.alt {
	background-color: #d8e8fc;	
}
ul.links li a {
	color: #0087c1;
	text-decoration: none;
}
ul.links li a:visited {
	background: url(/library/images/webtick.png) no-repeat left 0;
	padding-left: 20px;
}
ul.links li a:hover {
	color: #97ca20;
}
img.pdficon{
	vertical-align: middle;
}
fieldset {
	border: 1px solid #004b9f;
	margin-top: 20px;
	padding: 15px;
}
#main fieldset{
	font-size: 18px;
}
label {
	display: block;
	float: left;
	width: 150px;
	color: #0087c1;
}
#main h3 {
	color: #97ca20;
}
ol {
	margin-left: 25px;
	list-style: decimal;
}
#toolbarbuttons {
	text-align: right;
}
.archivecolumn {
	display: block;
	float: left;
	width: 250px;
	margin-bottom: 15px;
}
.orderlist {
	list-style: none;
}
.newsletter {
	float: left;
	padding: 15px;
	margin: 10px;
	text-align: center;
}
ul.doclinks li{
	background: url(/library/images/mediumPDF.png) no-repeat left 5px;
	padding: 10px 0 15px 50px;
	border-bottom: 1px solid #0087c1;
}
div#response, div#response2 {
	border: 1px solid #3C3;
	padding: 5px;
	display: none;
}
div#special {
	border: 2px solid #c11d23;
	background-color: #ffd0c9;
	padding: 5px;
	font-size: 11px;
	margin-bottom: 15px;
}
div#special ul{
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
div#special h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	color: #c11d23;
	font-weight: bold;
}
div#special a {
	margin: 10px 0;
}
div#special p.small{
	font-size: 9px;
}
div#special p {
	margin-bottom: 5px;
}
#loginlinks a {
	text-decoration: none;
	color: blue;
	font-size: 9px;
}
#loginlinks a:hover {
	text-decoration: underline;
	color: #C66;
}
#changepwd {
	display: none;
}

#phonenumbers h4 {
	text-align: center;
	border-bottom: 1px solid #CCC;
	margin: 20px 5px 0;
}
#phonenumbers p {
	margin: 3px 0;
}
table.idlist tr td{
	padding: 3px 0;
	border-bottom: 1px solid #CCC;
}
.delete, .edit {
	cursor: pointer;
}
